<%= form_with(model: user, local: true) do |f| %>
  <% if user.errors.any? %>
    <div class="alert alert-danger">
      <h3><%= pluralize(user.errors.count, "error") %> prohibited this <%= user.name %> from being saved:</h3>
        <ul>
          <% user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
    </div>
  <% end %>
  <%= f.label :image, class: 'form-label mt-2' %>
  <% if user.image && user.image.url %>
    <p><%= image_tag user.image.url, class: 'rounded-circle img-thumbnail' %></p>
  <% end %>
  <%= f.file_field :image, class: 'form-control' %>
  <%= f.label :name, class: 'form-label mt-2' %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :email, class: 'form-label mt-2' %>
  <%= f.email_field :email, class: 'form-control' %>
  <%= f.label :password, class: 'form-label mt-2' %>
  <%= f.password_field :password, class: 'form-control' %>
  <%= f.label :password_confirmation, class: 'form-label mt-2' %>
  <%= f.password_field :password_confirmation, class: 'form-control' %>
  <%= f.submit class: 'btn btn-primary mt-3' %>
<% end %>
