<p>
  <strong>User:</strong>
  <%= @picture.user.name %>
</p>
<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url %>
</p>
<p>
  <strong>Comment:</strong>
  <%= @picture.comment %>
</p>
<% unless @picture.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'Remove from favorites', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger btn-sm' %>
  <% else %>
    <%= link_to 'Add to favorites', favorites_path(picture_id: @picture.id), method: :post, class: 'btn btn-primary btn-sm' %>
  <% end %>
<% end %>
<div class="mt-3">
  <% if @picture.user_id == current_user.id %>
    <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <% end %>
  <%= link_to 'Back to favorites', favorites_path %> |
  <%= link_to 'Back to top', pictures_path %>
</div>
